{
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": true,
    "singleQuote": false,
    "trailingComma": "es5",
    "newline-before-return": true,
    "no-duplicate-variable": [true, "check-parameters"],
    "no-var-keyword": true
}
